@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Macondo&display=swap');


/* root section of css*/
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2621;
    --secondary-color: #aa9581;
    --highlight-color: #41618e;
    --lighthighlight-color: #7a9fc2;

}
/* Global Styles */

/* Start body section */
body {
    font-family: var(--primary-font);
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    background-color:whitesmoke;
    font-family:"Courier Prime", monospace;
    font-size: 1.1rem;

}

.w100 {
    width: 100%;
}
#logo {
    margin:5px;
    left: 10px;
}

.container, .rows {
    border:2px solid black;

}

.col-4,.col-6, .col-3,.col-9, .col-12{
border:2px solid white;
background-color:lightgray
}

/* Start Navigation Section */
nav {
    background-color: var(--primary-color);
    font-family:'Courier Prime', Courier, monospace
}


h1, h2, h3, h5 { 
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1, h2, h3 {
    margin-buttom: 2 rem;
}
h1, h2 {
    text-transform: uppercase;
}
/* Navbar */
#navbar {
    background-color: var(--primary-color);
}


/* Different IDs */
#aboutus {
    color: yellogreen;
    background-color: lightgray;
}

.color-uniform {
    color:darkgreen;

}
.table-text {
    font-size: 1rem;
}

#contactus{
    color:green;
    background-color:lightgray;
}

#sign-up {
    background-color:whitesmoke;
}

#signup-btn {
    background-color: darkgreen;
}
.sharp-corners * {
    border-radius:0;
}
/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}