@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Macondo&display=swap');


/* root section of css*/
:root {
    --primary-font: sans-serif,"Inter";
    --secondary-font: "Macondo", cursive;
    --primary-color: #6A4B38; /*lightgray */ 
    --secondary-color: blue; /* #FBF6E8 */

}
/* Global Styles */

/* Start body section */
body {
    font-family: var(--primary-font);
    background-color: rgb(198, 230, 242);
    padding: 0;
    margin: 0;
    font-family:"Courier Prime", monospace;
    font-size: 1.1rem;

}

.w100 {
    width: 100%;
}
#logo {
    margin:5px;
    left: 10px;
}

.col-4,.col-6, .col-3,.col-9, .col-12{
border:5px solid white;
background-color:lightgray
}

/* Start Navigation Section */
nav {
    background-color: var(--primary-color);
    font-family:'Courier Prime', Courier, monospace
}


h1, h2, h3, h5 { 
    color:darkgreen;
    font-family: var(--primary-font);
    color: var(--primary-color);

}

h1, h2, h3 {
    margin-buttom: 3 rem;
}
p {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

/* Navbar */
#navbar {
    background-color: var(--primary-color);
}

.hero-msg{
overflow: hidden;
  white-space: nowrap;
  color: white;
  padding: 3px;
}

.hero-msg p {
  display: inline-block;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.box-row {
  display: flex;
  justify-content: space-between;
  gap: 10px; 
}

.box {
  width: 50%;
  padding: 5px;
  margin-bottom: 10px;
  background: lightgray;
  border-radius: 10px;
}
/* Different IDs */
#aboutus {
    color: yellogreen;
    background-color: lightgray;
}

.color-uniform {
    color:darkgreen;

}
.table-text {
    font-size: 1rem;
}

.card {
  height: 100%;
}

.small-javascript-text{
    font-size: 100%;
}
.card.w-100 .card-img-top {
   width: 150px !important;
  height: 150px;
  object-fit: cover;
  margin: 15px auto;
  display: block;
}

.card-body {
  display:flex;
  flex-direction: column;
}
#contactus{
    color:green;
    background-color:lightgray;
}

#sign-up {
    background-color:whitesmoke;
}

#signup-btn {
    background-color: darkgreen;
}
.sharp-corners * {
    border-radius:0;
}
/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

#footer-info{
    font-size: 5rem;
}
.button-wrapper {
    display: flex;
    justify-content: space-between; /* equal spacing */
    gap: 10px; /* optional spacing */
}


.button-wrapper button {
    flex: 1; /* makes all buttons equal width */
}
